@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input {
  background: transparent;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  @apply w-full border border-gray-400 my-2 py-2 px-3 rounded-lg;
}

button {
  @apply bg-gray-300;
}

button.login-form__btn {
  @apply bg-primary p-2 w-full text-white rounded-lg;
}
